<div>
    <p>AutoComplete Search for Movie Titles</p>
    <input id="search" (click)="openAutocomplete()" [(ngModel)]="searchQuery" type="text" placeholder="Enter movie title" (keydown)="onDown($event)" (input)="searchMovie($event)" autocomplete="off">
    <div clickOutside (clickOutside)="closeAutocomplete()" *ngIf="autoCompleteEnableWrapper">
        <div *ngIf="showAutoComplete" class="searchResults collection margin-top-m-20px">
            <div *ngFor="let movie of omdbMovies; let i = index" [tabindex]="i" class="movie">
                <a href="http://www.imdb.com/title/{{movie.imdbID}}" target="_blank">
                    <div (click)="getSelectedMovie(movie.Title)" class="collection-item avatar">

                        <img [src]="movie.Poster" alt="" class="circle">
                        <span class="title">{{movie.Title}}</span>

                    </div>
                </a>
            </div>

        </div>

    </div>
    <div *ngIf="noresults" class="yellow darken-2">

        <h4 class="header center white-text">No Results found... Please try another search</h4>
    </div>


</div>