<div>
    <p>AutoComplete Search for Movie Titles</p>
    <input (click)="openAutocomplete()" [(ngModel)]="searchQuery" type="text" placeholder="Enter movie title" (input)="searchMovie($event)">


    <div clickOutside (clickOutside)="closeAutocomplete()" *ngIf="autoCompleteEnableWrapper">
        <div *ngIf="showAutoComplete" class="searchResults collection margin-top-m-20px">


            <div *ngFor="let movie of omdbMovies">
                <a href="http://www.imdb.com/title/{{movie.imdbID}}" target="_blank">
                    <div (click)="getSelectedMovie(movie.Title)" class="collection-item avatar">

                        <img [src]="movie.Poster" alt="" class="circle">
                        <span class="title">{{movie.Title}}</span>

                    </div>
                </a>
            </div>





        </div>
    </div>


</div>