/* You can add global styles to this file, and also import other style files */

.margin-top-m-20px {
    margin-top: -20px;
}

.collection .collection-item {
    background-color: #ffffff;
    line-height: 2.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
}

.collection-item.avatar:hover {
    background: #c7c7c7;
    color: white;
}

.collection-item.avatar:active {
    background: #c7c7c7;
    color: white;
}

.searchResults {
    box-shadow: 0 0px 0 0 white, 0 0 13px 0 rgba(0, 0, 0, 0.22);
}

.collection {
    /* border: 1px solid #e0e0e0; */
}

.selected .collection-item {
    background: #c7c7c7 !important;
    color: white;
}

.social-links {
    font-size: 26px;
}

.padding-20px {
    padding: 20px;
}